---
layout: default
---

<div class="home">
  {% for page in paginator.posts %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h2 class="post-list-heading" itemprop="name headline"><a href="{{ page.url }}">{{ page.title | escape }}</a></h2>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
            {{ page.date | date: date_format }}
          </time>
          {%- if page.category -%}
            <a href="{{site.baseurl}}/categories/#{{ page.category|slugize }}">{{ page.category }}</a>
          {%- endif -%}</p>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ page.excerpt }}
      </div>
    </article>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
    {% else %}
      <span class="previous">Newer</span>
    {% endif %}
    /
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older</a>
    {% else %}
      <span class="next ">Older</span>
    {% endif %}
  </div>

</div>
