---
layout: default
---

<div class="home">
  {% for page in paginator.posts %}
    <article class="post" itemscope itemtype="https://schema.org/BlogPosting">
      <header class="post-header post-list-wrapper">
        <div class="post-list-image">
          {% if page.thumbnail %}
            <a href="{{ page.url }}"><img src="{{ page.thumbnail }}"></a>
          {% else %}
            <a href="{{ page.url }}"><img src="{{ "/assets/no_image.png" | relative_url  }}"></a>
          {% endif %}
        </div>
        <div class="post-list-title">
          <h2 class="post-list-heading" itemprop="name headline"><a href="{{ page.url }}">{{ page.title | escape }}</a></h2>
        </div>
      </header>
    </article>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
    {% else %}
      <span class="previous">Newer</span>
    {% endif %}
    /
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older</a>
    {% else %}
      <span class="next ">Older</span>
    {% endif %}
  </div>

</div>
