<div class="post-footer-wrapper">
  <div class="ad_header">
    <span>スポンサーリンク</span>
  </div>
  <div class="post-footer-col post-footer-col1">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- post-footer -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3475248347912434"
         data-ad-slot="5890997189"
         data-ad-format="rectangle"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="post-footer-col post-footer-col2">
    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ur1&category=amazonrotate&f=ifr&linkID=32a90933816b69e2ad490e98e4e586d2&t=same-22&tracking_id=same-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div>
</div>
