<div class="profile-wrapper">
  <div class="profile-title">
    <span>こんな人が書いています</span>
  </div>
  <div class="profile-content">
    <div class="profile-image">
      <img src="{{ "/assets/profile-icon.png" | relative_url }}"><br>
      <span>こたら</span>
    </div>
    <div class="profile-description">
      <span>アプリ開発者・ブロガー・ファイナンシャルプランナー<br>1984年生まれ。生まれも育ちも神奈川県川崎市</span>
    </div>
  </div>
  <div class="profile-more">
    <a href="">もっと詳しいプロフィール</a>
  </div>
  <div class="profile-sns">
    {%- include social.html -%}
  </div>
</div>
