<div class="profile-wrapper">
  <div class="profile-title">
    <span>こんな人が書いています</span>
  </div>
  <div class="profile-content">
    <div class="profile-image">
      <img src="{{ "/assets/profile-icon.png" | relative_url }}"><br>
      <span>こたら</span>
    </div>
    <div class="profile-description">
      <span>2児の父/Swift/iOS developer/ブロガー/FP<br>
        1984年生まれ
      </span>
    </div>
  </div>
  <div class="profile-more">
    <a href="{{ "/profile/" | relative_url }}">もっと詳しいプロフィール</a>
  </div>
  <div class="profile-sns">
    {%- include social.html -%}
  </div>
</div>