.footer {
    border-top: 1px solid var(--tint-primary);
}

.container {
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TODO: min-widthを変数化 */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}
